<header class="flex between" id="scores">
  <div class="score">Your Score: <%= @human_score %></div>
  <div class="score">Computer Score: <%= @computer_score %></div>
</header>

<div class="grid" id="board">

  <% first_row do |marker_type, idx| %>
  <div class="box" id="box-<%= idx %>">
    <form action="/play" method="POST">
      <button name="box" value="<%= idx %>" class="invisible" id="button-<%= idx %>"></button>
    </form>
    <div class="marker"><%= marker_type %></div>
  </div>
  <div class="divider"></div>
  <% end %>

  <% 4.times do %>
  <div class="divider"></div>
  <% end %>

  <% middle_row do |marker_type, idx| %>
  <div class="box" id="box-<%= idx %>">
    <form action="/play" method="POST">
      <button name="box" value="<%= idx %>" class="invisible" id="button-<%= idx %>"></button>
    </form>
    <div class="marker"><%= marker_type %></div>
  </div>
  <div class="divider"></div>
  <% end %>

  <% 4.times do %>
  <div class="divider"></div>
  <% end %>

  <% last_row do |marker_type, idx| %>
  <div class="box" id="box-<%= idx %>">
    <form action="/play" method="POST">
      <button name="box" value="<%= idx %>" class="invisible" id="button-<%= idx %>"></button>
    </form>
    <div class="marker"><%= marker_type %></div>
  </div>
  <%= '<div class="divider"></div>' if idx != 9%>
  <% end %>

</div>
